@use 'vars';

.ProductItem {
	width: 300px;
}

.ProductItem img {
	width: 300px;
	height: 300px;
	border-radius: 5px;
	object-fit: cover;
}


.addToCart:hover {
	color: aliceblue;
	background-color: var(--dark-blue);
	-webkit-transition-duration: 0.5s;
	-webkit-transition-property: all;
	-webkit-transition-timing-function: ease-in-out;
}

.product-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 12px;
}

.product-info figure {
	margin: 0;
}

.addToCart {
	font-size: 30px;
	padding: 10px;
	color: var(--very-light-pink);
	border-radius: 6px;

}

.product-info div p:nth-child(1) {
	font-weight: bold;
	font-size: var(--md);
	margin-top: 0;
	margin-bottom: 4px;
}

.product-info div p:nth-child(2) {
	font-size: var(--sm);
	margin-top: 0;
	margin-bottom: 0;
	color: var(--very-light-pink);
}

@media (max-width: 640px) {
	.cards-container {
		grid-template-columns: repeat(auto-fill, 140px);
	}

	.ProductItem {
		width: 140px;
	}

	.ProductItem img {
		width: 140px;
		height: 140px;
	}

	.product-info div p:nth-child(1),
	.product-info div p:nth-child(2) {
		font-size: 12px;
	}

	.product-info div p:nth-child(2) {
		margin-right: 5px;
	}

	.addToCart {
		font-size: 20px;
		padding: 8px 0px 8px 0px;
		color: var(--very-light-pink);
		border-radius: 6px;
	}
}